/***** General *****/

html {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #555;
	font-size: .8em;
}

a:hover {
	text-decoration: underline;
}

/***** Navigation *****/

nav ul {
	float: right;
	padding: 20px 20px 0 0;
}

nav ul li:last-child {
	background-color: #006600;
	padding: 7px 11px;
	border-radius: 50%;
}

nav ul li:last-child a {
	color: white;
	font-size: 1em;
	font-weight: 100;
	padding: 0;
}

nav ul li:last-child a:hover {
	text-decoration: none;
}

nav ul, 
footer ul {
	list-style: none;
}

nav li,
footer li {
	display: inline;
}

nav li {
	margin: 0 5px;
}

/***** Main *****/

#main {
	clear: right;
	position: relative;
	top: 170px;
}

#main img {
	display: block;
	margin: auto;
	width: 275px;
}

#main .btn-group {
	text-align: center;
	width: 100%;
}

#main input {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat center right 10px;
	background-size: 24px 24px;
	border: 1px solid #DDD;
	display: block;
	font-size: 1em;
	height: 35px;
	margin: 30px auto;
	padding: 0 15px;
	vertical-align: middle;
	width: 575px;
}

#main input:hover {
	border: 1px solid #AAA;
}

#main input:focus {
	border: 1px solid #3385ff;
	box-shadow: none;
	outline: none;
}

#main button {
	background-color: #EEE;
	border: 1px solid transparent;
	border-radius: 2px;
	color: #777;
	font-size: .8em;
	font-weight: bold;	
	padding: 10px 15px;
	margin: 2px;
}

#main button:hover {
	background-color: #f2f2f2;
	border: 1px solid #d9d9d9;
	box-shadow: 0 1px 2px #e6e6e6;
	color: #111;
}

/***** Footer *****/

footer {
	background-color: #EEE;
	border-top: 1px solid #DDD;
	bottom: 0;
	height: 40px;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
}

footer ul {
	line-height: 40px;
	margin-bottom: 0;
	padding-bottom: 0;
}

footer ul:first-of-type {
	position: absolute;
	left: 10px;
}

footer ul:last-of-type {
	position: absolute;
	right: 10px;
}

footer li {
	padding: 0 15px;
}